<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Mantente aa la vanguardia con las últimas tendencias en decoración para eventos. Recomendaciones para eventos virtuales.">
        <meta name="keywords" content="FIESTA, CUMPLEAÑOS, QUINCEAÑERO, BAUTIZO, GLOBOS, DECORACION, VIDEOS, FOTOS, VIDEOLLAMADAS, FOTOGRAFIA">
        <title>Comúnicate con nosotros</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        <link rel="stylesheet" href="../assets/css/estilos.css">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="gallery-grid.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
  <script>
    baguetteBox.run('.tz-gallery');
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-dark bg-dark">
         <!-- Navbar content -->
         <a class="navbar-brand" href="#"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav">
             <li class="nav-item active">
               <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="../views/conocenos.html">¿Quiénes somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/eventos.html">Nuestros Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/contactanos.html">Contáctanos</a>
            </li>
          </ul> 
         </div>
        </nav>
      <header><img src="../assets/img/logo.png" width="160"></header>
        <div class="tusMomentose">Tus momentos especiales en las mejores manos</div>
<h1 class="secciones">Contáctanos</h1>
  <!-- Seccion para consultas directas via email -->
  <aside class="col-md-4 blog-sidebar">
    <div class="p-4 mb-3 bg-light rounded">
      <h4 class="font-italic" id="contactUs">Cuéntanos qué deseas y así podremos ayudarte mejor</h4>
      <form>
        <div class="form-group">
          <label for="nombres">Nombres:</label>
          <input type="nombre" class="form-control" id="exampleInputNombre" aria-describedby="nombreHelp" placeholder="Ingresa tu nombre completo">
          </div>
        <div class="form-group">
          <label for="exampleInputemail">E-mail</label>              
          <input type="e-mail" class="form-control" id="correo_electronico" placeholder="Ingresa tu correo electrónico">
          <small id="nombreHelp" class="form-text text-muted">No compartiremos tus datos con nadie.</small>
        </div>
        <div class="form-check">
        </div>
        <div class="form-group">
          <label for="cotizarEvento">Evento a cotizar:</label>
          <textarea class="form-control" id="cotizarEvento" rows="3"></textarea>
        </div>
       <button type="submit" class="btn btn-primary">Enviar</button>
      </form>             
    </div>
  </aside>
      <footer class="footer mt-auto py-3">
        <div class="container">
          <span class="text-muted"></span>
            <div class="avisolegal">Aviso Legal</div>
            <div class="faq">FAQ</div>
            <div class="newsletter">Suscríbete a nuestro newsletter</div>
            <div class="privacidad">Política de privacidad</div>
          </div>
          <div id="redes">Síguenos</div>
          <div class="iconos">
            <a href="https://www.facebook.com"><img src="../assets/img/faceb.svg" width="30"></a>
            <a href="https://www.instagram.com"><img src="../assets/img/insta.svg" width="30"></a>
            <a href="https://www.twitter.com"><img src="../assets/img/twitter.svg" width="30"></a>
          </div>
      </footer>
    </body>
</html>