<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Algunos de nuestros socios y colaboradores para llevar a cabo nuestros eventos y los de nuestros clientes">
        <meta name="keywords" content="FIESTA, CUMPLEAÑOS, CATERING, REPOSTERIA, PASTELERIA, COCTELERIA, BRINDIS, QUINCEAÑERO, BAUTIZO, GLOBOS, DECORACION">
        <title>Un poco de M&D</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        <link rel="stylesheet" href="../assets/css/estilos.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="gallery-grid.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
  <script>
    baguetteBox.run('.tz-gallery');
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>      
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <!-- Navbar content -->
            <a class="navbar-brand" href="#">Menú</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/conocenos.html">¿Quiénes somos?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/eventos.html">Nuestros Eventos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/blog.html">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/contactanos.html">Contáctanos</a>
                </li>
              </ul> 
            </div>
          </nav>    
          <header><img src="../assets/img/logo.png" width="160"></header> 
            <div class="tusMomentose">Tus momentos especiales en las mejores manos</div>
                <h1 class="secciones">Nuestros Eventos</h1>
                </div>      
        <div class="tz-gallery">
          <div class="row">
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/5globoshappybirthday.jpg">
                <img src="../assets/img/5globoshappybirthday.jpg" width="300" height="150" alt="globoscumple">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/treintacumple.jpg">
                <img src="../assets/img/treintacumple.jpg" width="300" height="150" alt="cumpletreinta">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/2cincuentacumple.jpg">
                <img src="../assets/img/2cincuentacumple.jpg" width="300" height="150" alt="cumplecincuenta">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/cupcakeenmano.jpg">
                <img src="../assets/img/cupcakeenmano.jpg" width="300" height="400" alt="cupcakes">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/cumplenenas.jpg">
                <img src="../assets/img/cumplenenas.jpg" width="300" height="400" alt="cumpleNenas">
              </a>
            </div> 
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/tortadechocolate.jpg">
                <img src="../assets/img/tortadechocolate.jpg" width="300" height="400" alt="tortachoco">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/4globosRosados.jpg">
                <img src="../assets/img/4globosRosados.jpg" width="300" height="150" alt="globosrosados">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/grado.jpg">
                <img src="../assets/img/grado.jpg" width="300" height="150" alt="grados">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/5globosdecolores.jpg">
                <img src="../assets/img/5globosdecolores.jpg" width="300" height="150" alt="globosdecolor">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/despedidadesoltera.jpg">
                <img src="../assets/img/despedidadesoltera.jpg" width="300" height="400" alt="despedidaDes">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/chicadegrado.jpg">
                <img src="../assets/img/chicadegrado.jpg" width="300" height="400" alt="chicagrado">
              </a>
            </div>
            <div class="col-sm-6 col-md-4" class="galeriaevnts">
              <a class="lightbox" href="../assets/img/estudioconglobos.jpg">
                <img src="../assets/img/estudioconglobos.jpg" width="300" height="400" alt="fotoestudio">
              </a>
            </div>             
        </div> 
      </div>
        <footer class="footer mt-auto py-3">
            <div class="container">
              <span class="text-muted"></span>
                <div class="avisolegal">Aviso Legal</div>
                <div class="faq">FAQ</div>
                <div class="newsletter">Suscríbete a nuestro newsletter</div>
                <div class="privacidad">Política de privacidad</div>
              </div>
                      <div id="redes">Síguenos</div>
                      <div class="iconos">
                        <a href="https://www.facebook.com"><img src="../assets/img/faceb.svg" width="30"></a>
                        <a href="https://www.instagram.com"><img src="../assets/img/insta.svg" width="30"></a>
                        <a href="https://www.twitter.com"><img src="../assets/img/twitter.svg" width="30"></a>
                      </div>
          </footer>                 
    </body>
</html>